.logo {
  display: block; 
  font-family: var(--secondary-font);
  @include font(700, 26px, 1.19, 0.03em);
  color: var(--secondary-text-color-light);
}
.logo-text--light {
  color: var(--primary-text-color-light);
}
.logo-text--dark {
  color: var(--secondary-text-color-dark);
}