.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-title {
  margin-bottom: 30px;
  @include font(700, 28px, 1.17, 0.03em);
  text-align: center;
  color: var(--secondary-text-color-dark);
  @media screen and (min-width:1200px) {
    margin-bottom: 50px;
    @include font(700, 36px, 1.17, 0.03em);
  }
}