:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-color: #ffffff;
  --acent-color: #2196f3;
  --acent-color-hover: #188ce8;
  --secondary-color: #2f303a;
  --section-time-color: #f5f4fa;
  --primary-text-color-dark: #757575;
  --primary-text-color-light: #ffffff;
  --secondary-text-color-dark: #212121;
  --secondary-text-color-light: #2196f3;
  --address-link-text-color: rgba(255, 255, 255, 0.6);
}