.footer {
  background-color: var(--secondary-color);
  padding: 60px 0;
}
.footer__container-general {
  display: flex;
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 80px;
    padding-right: 80px;
    }
    @media screen and (max-width:1199px) {
      flex-wrap: wrap;
      flex-direction: column;
    }
   @media screen and (min-width:1200px) {
    align-items: baseline;
    justify-content: flex-start;
   }
}
.footer__tablet{
  // display: none;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 60px;
    }
  @media screen and (min-width: 768px) {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  }
}
.footer__container {
  @media screen and (max-width:1199px) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  }
  @media screen and (max-width:767px) {
    margin-bottom: 60px;
    width: 100%;
  }
  @media screen and (min-width:768px) {
    margin-right: 165px;
  }
  @media screen and (min-width:1200px) {
    margin-right: 70px;
  }
}
.footer__logo {
  margin-bottom: 20px;
}
.address .address__item + .address__item {
  margin-top: 9px;
}
.address__link {
  @include font(400, 14px, 1.71, 0.03em);
  color: var(--primary-text-color-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: var(--secondary-text-color-light);
}
}
.address__link-mail {
  color: var(--address-link-text-color);
}
.address__link-tel {
  color: var(--address-link-text-color);
}
.footer__networks {
  width: 206px;
  @media screen and (max-width:1199px) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  }
  @media screen and (max-width:767px) {
    margin-bottom: 60px;
    width: 100%;
  }
}
.footer__networks-text {
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.footer__networks-link {
  fill: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.futer_form-icon {
  background-size: cover;
}
.futer__form-block {
  display: flex;
  align-items: center;
  @media screen and (max-width:1199px) {
  flex-wrap: wrap;
  flex-direction: column;
  }
  @media screen and (min-width:768px) and (max-width:1199px) {
    width: 450px;
    margin: 0 auto;
  }
  @media screen and (min-width:1200px) {
  justify-content: center;
  margin-top: 20px;
  width: 570px;
  align-items: baseline;
  }
}
.futer__form-label {
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--primary-color);
  @media screen and (max-width:1199px) {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    }
}
.futer__form-input {
  width: 100%;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  border: 1px solid var(--acent-color);
}
  &::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  /*color: rgba(255, 255, 255, 0.6);*/
}
}
.futer__form {
  @media screen and (min-width:1200px) {
    margin-left: 93px;
    }
}
.futer__form-button {
  margin-left: 12px;
  padding: 10px 28px;
}
.futer__form-icon {
  margin-left: 10px;
}